In [1]:
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
vector = CountVectorizer()

In [3]:
u1 = ['Many times while working with Python strings, we have a problem in which we need to remove certain characters from strings. This can have applications in data preprocessing in the Data Science domain and also in day-day programming. Letâ€™s discuss certain ways in which we can perform this task using Python.']

In [4]:
type(u1)

list

In [5]:
X = vector.fit_transform(u1).toarray()
X

array([[1, 1, 1, 2, 2, 1, 2, 2, 1, 1, 1, 2, 5, 1, 1, 1, 1, 1, 1, 1, 2, 1,
        1, 2, 1, 1, 2, 1, 1, 1, 1, 3, 2, 1, 1, 1]])

In [6]:
vector.get_feature_names_out()

array(['also', 'and', 'applications', 'can', 'certain', 'characters',
       'data', 'day', 'discuss', 'domain', 'from', 'have', 'in', 'let',
       'many', 'need', 'perform', 'preprocessing', 'problem',
       'programming', 'python', 'remove', 'science', 'strings', 'task',
       'the', 'this', 'times', 'to', 'using', 'ways', 'we', 'which',
       'while', 'with', 'working'], dtype=object)

In [7]:
vectorize1 = CountVectorizer()

In [8]:
u2 = ['The first two arguments for string.translate method is empty strings, and the third input is a Python list of the punctuation that should be removed. This instructs the Python method to eliminate punctuation from a string. This is one of the best ways to strip punctuation from a string.','This is the brute way in which this task can be performed. In this, we check for the punctuations using a raw string that contain punctuations and then we construct a string removing those punctuations.']

In [9]:
Y = vectorize1.fit_transform(u2).toarray()
Y

array([[1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 2, 0, 1, 1, 3, 1, 2, 2, 1,
        0, 3, 0, 2, 0, 1, 0, 1, 3, 1, 1, 0, 1, 5, 0, 1, 2, 0, 2, 1, 1, 0,
        0, 1, 0, 0],
       [1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 2, 0, 0, 1, 0, 0, 0, 0,
        1, 0, 3, 0, 1, 0, 1, 0, 2, 0, 0, 1, 1, 2, 1, 0, 3, 1, 0, 0, 0, 1,
        1, 0, 2, 1]])

In [10]:
vectorize1.get_feature_names_out()

array(['and', 'arguments', 'be', 'best', 'brute', 'can', 'check',
       'construct', 'contain', 'eliminate', 'empty', 'first', 'for',
       'from', 'in', 'input', 'instructs', 'is', 'list', 'method', 'of',
       'one', 'performed', 'punctuation', 'punctuations', 'python', 'raw',
       'removed', 'removing', 'should', 'string', 'strings', 'strip',
       'task', 'that', 'the', 'then', 'third', 'this', 'those', 'to',
       'translate', 'two', 'using', 'way', 'ways', 'we', 'which'],
      dtype=object)

In [11]:
import pandas as pd

pd.DataFrame(X, columns=vector.get_feature_names_out())

,also,and,applications,can,certain,characters,data,day,discuss,domain,...,this,times,to,using,ways,we,which,while,with,working
0,1,1,1,2,2,1,2,2,1,1,...,2,1,1,1,1,3,2,1,1,1

In [12]:
pd.DataFrame(Y, columns=vectorize1.get_feature_names_out())

,and,arguments,be,best,brute,can,check,construct,contain,eliminate,...,this,those,to,translate,two,using,way,ways,we,which
0,1,1,1,1,0,0,0,0,0,1,...,2,0,2,1,1,0,0,1,0,0
1,1,0,1,0,1,1,1,1,1,0,...,3,1,0,0,0,1,1,0,2,1